* {
	padding:0;
	margin:0;
	border:0;
}

body{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.conteudo {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
}

.titulo{
	margin-top: 20vh;
	margin-bottom: 20vh;
}

.texto {
	text-align: justify;
	margin-bottom: 10vh;
}

.texto p {
	margin-bottom: 2vh;
	font-size: 1.3em;
}

.local p {
	width: 50vw;
	margin-right: 2vw;
	margin-bottom: 5vw;
	text-align: right;
	font-size: 1.3em;
}

.assinatura {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.assinatura p {
	margin-bottom: 2vh;
	font-size: 1.2em;
}
